html,
body {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: rgb(104, 73, 24);
    margin: 0;
}

main {
    display: flex;
    justify-content: center;
}

button {
    background-color: rgba(141, 141, 141, 0.253);
    border-style: none;
    margin: 0 10px;
}

#button-pre {
    border-radius: 10px 0 0 10px;
}

#button-next {
    border-radius: 0 10px 10px 0px;
}