html {
    margin: 0;
    height: 100%;
    display: flex;
}

body {
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.calendar {
    box-sizing: border-box;
    display: flex;
    width: fit-content;
    height: fit-content;
}

.calendar .date_chosen {
    margin:0 -5px 0 0px;
    padding: 30px 0;
    text-align: center;
    width: 200px;
    color: white;
    background-color: rgb(77, 63, 59);
    border-radius : 5px 0 0 5px;
}

.calendar .date_chosen-day {
    font-size: 1.5em;
    font-weight: 600;
}

.calendar .date_chosen-date {
    font-size: 4em;
    font-weight: 800;
}
.button-go{
    
    font-size:12px;

}
 .button-go-today{
    text-align: center;
    margin:10px;
    padding:5px;
    width:40px;
border: orangered 2px solid ;
border-radius:5px;
background: lightgray;

}
 .button-go-chosen{
    text-align: center;
    width:40px;
    border: lightgray 2px solid ;
    margin :10px;
    padding:5px;
background:yellowgreen;
border-radius:5px;

}
.calendar .monthly {
    height: 100%;

}

.monthly-head {
    padding: 10px;
    text-align: center;
    color: rgb(77, 63, 59);
    font-size: 15px;
    font-weight: 900;
}

.monthly-table {
    font-size: 12px;
    border-spacing:30px 3px;


}
.today{
    border:solid orangered 3px;
    border-radius:50px;
}
td {
    text-align: center;
    width: 30px;
    margin:0 60px;
    padding: 5px 0;
    color: gray
}

.bt-last-month {
    cursor: pointer;
    float: left;
    border:none;
    margin-left: 50px;
}

.bt-next-month {
    cursor: pointer;
    float: right;
    border:none;
    margin-right: 50px;
}





.inline {
    display: inline-block;
    width: 100px;
}

.border-style {
    border: lightgray 1px solid;
    border-radius: 5px;
}


.todolist {
    max-height: 600px;
    width: 655px;
    margin: 10px 0;
    /* box-sizing: border-box; */
    display: flex;
    flex-direction: column;

}

.todolist-title {
    position: relative;
    margin: 10px 10px 0 10px;
    text-align: center;
    font-size: 30px;
    font-weight: 900;
    color: rgb(77, 63, 59);
}

.todolist-date {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 10px;
    font-weight: 500;
    color: gray;
}

.todolist-add {
    margin: 10px 10px 0 10px;
    display: flex;
    height: 30px;
}

.todolist-add-text {
    padding-left: 10px;
    flex: 8;
    font-size: 15px;
    border: 1px solid lightgray;
    border-top-left-radius: 10px;
    outline: none;
}

.todolist-add-submit {
    flex: 2;
    background: rgb(77, 63, 59);
    color: white;
    border: 1px;
    border-top-right-radius: 10px;
    outline: none;
}

.todolist-add-submit:active {
    background: rgb(34, 70, 34);
}

.todolist-list {
    max-height: 600px;
    overflow-y: scroll;
}

.todo {
    height: 50px;
    margin-left: 10px;
    line-height: 50px;
    border: lightgray solid 0.5px;
    border-top: none;
    box-sizing: border-box;
    background: white;
    position: relative;
}

.done {
    text-decoration-line: line-through;
}

.todo.edit {
    background: yellowgreen;
    display: flex;
    text-decoration-line: none;

}

input.edit {
    font-size: 18px;
    margin: 5px 0;
    flex: 1;
}

.button-delete {
    position: absolute;
    right: 10px;
    bottom: 0;
    cursor: pointer;
}

.todolist-footer {
    margin-top:10px;
    padding: 10px 20px;
    color: gray;
    font-size: 10px;
    background:rgb(230, 230, 228);
    border-top:1px solid lightgray;
    box-sizing:border-box;
    font-size:15px;
    display:flex;
    justify-content: space-between;
}


.footer-todo-clear{
float:right;
color:orangered;
padding:0 5px;
background: lightgray;
border:1px orange solid;
border-radius:5px;
cursor: pointer;
}
.footer-filter{
    background:lightgray;
    width:fit-content;
    display:flex;
    border-radius: 2px;
}
.button-filter{
    margin:0 5px;
    width:70px;
    cursor: pointer;
    text-align: center;
}
.filter-on{
box-shadow:0px 3px 0px  rgba(77, 63, 59);
margin-bottom: 2px;
background: rgba(77, 63, 59, 0.9);
color:white;
text-align: center;
border-radius: 5px;
box-shadow: 30%;
}
input[type='checkbox'] {
    -webkit-transform: scale(2);
    margin: 0 30px;
}

/* scroll-bar style */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}