html{
 margin: 0;
 height:100%;
 display:flex;
}
body{
    margin:10px;
    display:flex;
    flex-direction: column;
}
.calendar{
    flex:1;
    box-sizing: border-box;
    display:flex;
    height:230px;
    width:fit-content;
    
}
.calendar .date_chosen{
    padding-top:30px;
    text-align: center;
    width:200px;
    color:white;
    background-color:rgb(77, 63, 59);
}
.calendar .date_chosen-day{
    font-size: 1.5em;
    font-weight:600;
}
.calendar .date_chosen-date{
    font-size: 4em;
    font-weight: 800;
}
.calendar .monthly{
    height: 100%;
}

.monthly-head{
    padding:10px;
text-align: center;
}
.monthly-table{
    font-size:12px;
}
td{
    text-align:center;
    width:60px;
    padding:5px 0;
}
.bt-last-month{
    float:left;
    margin-left:50px;
}
.bt-next-month{
    float:right;
    margin-right:50px;
}





.inline{
    display:inline-block;
    width:100px;
}

.border-style{
    border:rgb(77, 63, 59) 1px solid;
    border-radius: 5px;
}


.todolist{
    flex:3;
    width:655px;
    margin:10px 0;
    display:flex;
    flex-direction: column;
}
.todolist-title{
    position: relative;
    text-align: center;
    font-size:30px;
    font-weight:900;
    color:rgb(77, 63, 59);
}
.todolist-date{
    position: absolute;
    top:20px;
    right:30px;
    font-size:10px;
}
.todolist-add{
    margin:20px;
    display: flex;
    height:30px;
}
.todolist-add-text{
padding-left:10px;
flex:8;
font-size:15px;
border:1px rgb(43, 90, 43) solid ;
border-top-left-radius:10px;
outline:none;
}
.todolist-add-submit{
flex:2;
background: rgb(43, 90, 43);
color:white;
border:1px;
border-top-right-radius: 10px;
outline:none;
}
.todolist-add-submit:active{
    background: rgb(34, 70, 34);   
}