html,body{
    height:100%;
    margin:0 10px;
}
.calendar{
    border:solid black 1px;
    box-sizing: border-box;
    display:flex;
    height:250px;
    width:fit-content;
}
.calendar .date_chosen{
    text-align: center;
    width:200px;
    background-color:rgba(0, 128, 0, 0.253);
}
.monthly-head{
text-align: center;
}
.bt-last-month{
    float:left;
    margin-left:50px;
}
.bt-next-month{
    float:right;
    margin-right:50px;
}

.date_chosen-date{
    font-size: 5em;
    font-weight: 900;
}

.calendar .monthly{
    height: 100%;
    background-color:rgba(46, 139, 86, 0.438);
}

td{

    text-align:center;
    width:60px;
}