body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size:12px;
}

@media all and (min-width: 800px) {

    table,
    .footer {
        width: 80%;
    }
}

@media all and (max-width: 800px) {

    table,
    .footer {
        width: 100%;
    }
}

a {
    text-decoration: none;
    color: gray;
}

table {
    /* table-layout: auto; */
    background-color: rgb(245, 245, 245);
}

#thead {
    background-color: #5ea85e;
}

.home {
    font-weight: bolder;
}

.menu-left {
    float: left;
}

.menu-right {
    float: right;
}

.menu {
    padding: 5px;
    font-weight: 400;
}

.menu-item {
    color: black;
    display: inline;
}

.index {
    text-align: right;
    width:15px;
}

.title {
    height: 20px;
}

.index,
.title {
    vertical-align: bottom;
}
.link {
    color: black;
}

.detail {
    font-size: 10px;
    color: gray;
}
.more{
cursor:pointer;
}

.footer .more {
    text-align: left;
    margin-left: 5%;
    font-size: 12px;
}
.footer {
    background-color: rgb(245, 245, 245);
    text-align: center;
    font-size: 10px;
}

.footer-menu {
    border-top: green 2px solid;
    padding: 10px 0 10px 0;
}